/* thẻ đầu tiên trong thẻ cha */
/* p:first-of-type{
    color: red;
}
h2:first-of-type{
    color: blue;
} */
/* thẻ cc trong thẻ cha */
/* h2:last-of-type{
    color: pink;
} */
/* thẻ xuất hiện thứ n trong thẻ cha */
p:nth-of-type(3){
    color: red;
}
/* thẻ duy nhất trong thẻ cha */
p:only-of-type{
    color: blue;
    font-size: 20px;
}