h1{
    /* màu chữ */
    color: red;
    /* kiểu chữ */
    font-style: italic;
    /* font chữ  */
    font-family: 'Times New Roman', Times, serif;
    /* chuyển đổi hoa thg */
    text-transform: uppercase;
    /* căn giữa */
    text-align:center;
    /* cỡ chữ */
    font-size: 30px;
}