/* đứng sát ngay sau dùng + */
h1 + h2 {
  color: red;
}
/* có thẻ kết hợp với thẻ khác */
.demo.demo2 + h3 {
  color: yellow;
}
/* tất cả các thẻ nằm sau dùng ~ */
h1 ~ div {
  color: blue;
}
div ~ div{
    font-size: 30px;
    color: red;
}