.box {
  width: 300px;
  height: 300px;
  border: 10px solid #000;
  background-image: url(../bg/anh1.jpg);
  /* background-size: contain; */
  /* background-size: cover; */
  background-size: 200px;
  background-size: 100% 100%;
}
