body {
  background-color: #ddd;
}
.rosie h1 {
  font-size: 40px;
}
.rosie p {
  font-size: 24px;
  line-height: 1.4;
}
.rosie {
  margin: 0 auto;
  width: 480px;
  text-align: center;
  background-color: yellow;
}
.rosie img {
  max-width: 480px;
}
