/* di chuột qua
#line2:hover{
    color: red;
    font-size: 30px;
}
.dichuot:hover{
    color: blue;
} */
/* click và giữ
.dichuot:active{
    color: red
    ;
} */
/* khi chưa truy cập vào
.clickme:link{
    color: chocolate;
} */
/* khi đã truy cập
.clickme:visited{
    color: red;
} */
/* thẻ k có nội dung */
.div_elm:empty {
  width: 200px;
  height: 200px;
  background-color: red;
}
/* chọn thẻ có id khi trên url có hash tương ứng */
h2:target {
  color: blue;
}
