/* di chuột qua
#line2:hover{
    color: red;
    font-size: 30px;
}
.dichuot:hover{
    color: blue;
} */
/* click và giữ
.dichuot:active{
    color: red
    ;
} */
/* khi truy cập vào
.clickme:link{
    color: chocolate;
} */
/* khi chưa truy cập
.clickme:visited{
    color: red;
} */